
#main-container{
	margin: 150px auto;
	width: 600px;
}

table{
	background-color: white;
	text-align: left;
	border-collapse: collapse;
	width: 100%;
}

th,td{
	padding: 10px;
}

thead{
	background-color: #246355;
	border-bottom: solid 5px #0F362D;
	color: while;
}

tr:nth-child(even){
	background-color: #ddd;
}
body{
	background-color: #F5EBDC;
}

/*Tamaño al lector de pdf de manula de usuario*/

iframe{
	width:80%;
	height:85vh;
	/*margin-left: 380px;*/
}