table{
 border-collapse:collapse;
 border: none;
 font-family: Comic Sans MS;
}

body{
  font-family: Comic Sans MS;
  font-size: 12px; 
}
th {
    font-size: 15px;
}
@font-face{
  font-family: DIN;
  SRC: URL(fuentes/DIN.ttf);
}

